<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Item Management</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	
</head>
<body>
		  <div class="container my-2">
       		 <h1>Items List</h1>
       		  <a th:href="@{/showNewItemForm}" class="btn btn-primary btn-sm mb-3"> Add Item </a>
        	  <table border="1" class="table table-striped table-responsive-md">
            	<thead>
                	<tr>
                		  <th>Item Name</th>
                    		<th>Item-category</th>
                   	 		
                   	 		  <th>Item-price</th>
                  			  <th>Purchase-date</th>
                   		
                    		<th> Actions </th>
                    </tr>
                   </thead>
                   <tbody>
                   			<tr th:each="item : ${listItems}">
                   				 <td th:text="${item.iname}"></td>
                   				  <td th:text="${item.icategory}"></td>
                   				   <td th:text="${item.iprice}"></td>
                   				   <td th:text="${item.idate}"></td>
                   				   <td> <a th:href="@{/showFormForUpdate/{id}(id=${item.id})}" class="btn btn-primary">Update</a>
                   				   		<a th:href="@{/deleteItem/{id}(id=${item.id})}" class="btn btn-danger">Delete</a>
                   				   	</td>
                   			  </tr>
                   			  
                   </tbody>
                 </table>
                </div>
	</body>
</html>